# Import

In [1]:
import requests
from bs4 import BeautifulSoup as bs
import pandas as pd
from matplotlib import pyplot as plt
from matplotlib.ticker import MultipleLocator
from datetime import datetime
from datetime import date
import time
import os
import seaborn as sns

# C√†o d·ªØ li·ªáu

- D·ªØ li·ªáu ƒë∆∞·ª£c c√†o t·ª´ trang web https://www.centralcharts.com/en/price-list-ranking/ALL/asc/ts_19-us-nasdaq-stocks--qc_1-alphabetical-order?p=1 c·ªßa s√†n ch·ª©ng kho√°n US NASDAQ Stocks price list and quotes.

- D·ªØ li·ªáu ƒë∆∞·ª£c c√†o h·∫±ng ng√†y, v√†o kho·∫£ng sau 21h00. ƒêi·ªÅu n√†y s·∫Ω ph·ª•c v·ª• cho m√¥ h√¨nh d·ª± ƒëo√°n gi√° c·ªï phi·∫øu theo ng√†y.

In [2]:
pages = []
# There are 155 pages in the entire set.
for page_number in range(1, 155):
    url = 'https://www.centralcharts.com/en/price-list-ranking/ALL/asc/ts_19-us-nasdaq-stocks--qc_1-alphabetical-order?p='
    url = url + str(page_number)
    pages.append(url)

# Create a list containing the <th> tag contents.
webpage = requests.get(pages[0])
soup = bs(webpage.text, 'html.parser')
stock_table = soup.find('table', class_='tabMini tabQuotes')
th_tag_list = stock_table.find_all('th')

# Take the <th> list and remove the extra attributes to
# get just the text portion of each tag. Use this text for the
# column header labels in the dataframe.
headers = []
for each_tag in th_tag_list:
    title = each_tag.text
    headers.append(title)

headers[0] = 'Name'

new_headers = []
for header in headers:
    if header not in ('Cap.', 'Issued Cap.', ''):
        new_headers.append(header)
headers = new_headers
stock_df = pd.DataFrame(columns = headers)

# Cycle through each page.
for page in pages:
    webpage = requests.get(page, timeout=60)
    soup = bs(webpage.text, 'html.parser')

    # Check to see if the page contains a table. If it does,
    # create a list of <tr> tags. If not, go to the next page.
    if soup.find('table'):
        stock_table = soup.find('table', class_='tabMini tabQuotes')
        tr_tag_list = stock_table.find_all('tr')

        # Cycle through the <tr> list. For each
        # row, find the <td> tags within the row. Then
        # obtain the text within each <td> tag. Lastly,
        # place the text in the last row of the dataframe.
        for each_tr_tag in tr_tag_list[1:]:
            td_tag_list = each_tr_tag.find_all('td')

            row_values = []
            for each_td_tag in td_tag_list[0:7]:
                new_value = each_td_tag.text.strip()
                row_values.append(new_value)

            stock_df.loc[len(stock_df)] = row_values

Sau khi c√†o d·ªØ li·ªáu v·ªÅ, ta ƒë√°nh d·∫•u c·ªôt `date` ch√≠nh l√† ng√†y c√†o d·ªØ li·ªáu. M·ªói l·∫ßn c√†o t∆∞∆°ng ·ª©ng v·ªõi ng√†y h√¥m ƒë√≥.

In [3]:
stock_df['date'] = date.today().strftime('%m/%d/%Y')
stock_df

,Name,Current price,Change(%),Open,High,Low,Volume,date
0,1-800-FLOWERS.COM INC.,5.08,-1.55%,5.21,5.21,5.08,"26,840",06/11/2025
1,10X GENOMICS INC.,10.97,+3.00%,10.85,11.12,10.71,"472,770",06/11/2025
2,111 INC. ADS,8.21,+1.73%,8.21,8.21,8.21,100,06/11/2025
3,17 EDUCATION & TECHNOLOGY GROUP,1.96,-7.11%,2.07,2.07,1.96,"2,554",06/11/2025
4,180 LIFE SCIENCES,1.04,+0.00%,1.03,1.04,1.03,"3,646",06/11/2025
...,...,...,...,...,...,...,...,...
3607,ZURA BIO LTD.,1.30,+1.56%,1.29,1.33,1.25,"66,410",06/11/2025
3608,ZW DATA ACTION TECHNOLOGIES,1.46,+15.87%,1.61,1.64,1.46,"521,670",06/11/2025
3609,ZYMEWORKS INC.,13.09,+0.15%,13.19,13.22,13.01,"19,482",06/11/2025
3610,ZYNEX INC.,2.14,-2.28%,2.18,2.22,2.14,"5,134",06/11/2025
3611,ZYVERSA THERAPEUTICS INC.,0.6870,-1.86%,0.7240,0.7240,0.6837,"54,572",06/11/2025

L∆∞u d·ªØ li·ªáu ƒë√£ c√†o cho 1 ng√†y v√†o th∆∞ m·ª•c log.

In [4]:
file_name = 'stock_data-' + date.today().strftime('%Y-%m-%d') + '.csv'
if not os.path.exists('log'):
    os.makedirs('log')
stock_df.to_csv('log/' + file_name, index=False)
# Export the dataframe to a csv file.

ƒê·ªçc file t·ªïng h·ª£p v√† xem th·ª≠ cho t·ªõi tr∆∞·ªõc ng√†y h√¥m nay, ch√∫ng ta ƒë√£ c√†o ƒë∆∞·ª£c bao nhi√™u.

In [6]:
integrated_df = pd.read_csv('integrated_stock_data.csv')
integrated_df

,Name,Current price,Change(%),Open,High,Low,Volume,date
0,MGO GLOBAL INC.,0.37,0,0.399,0.4599,0.33,111379653,3/5/2025
1,VISIONARY HOLDINGS INC.,2.51,94.57,2.28,2.85,2.17,24468952,3/5/2025
2,ADITXT INC.,0.0632,26.91,0.0635,0.067,0.0584,24278165,3/5/2025
3,NVIDIA CORP.,116.75,0.66,117.58,118,115.04,19755191,3/5/2025
4,MATTERPORT INC.,5.38,0,5.42,5.45,5.35,13993565,3/5/2025
...,...,...,...,...,...,...,...,...
351496,ZURA BIO LTD.,1.3,4.00%,1.27,1.37,1.25,"275,758",6/10/2025
351497,ZW DATA ACTION TECHNOLOGIES,1.25,-0.79%,1.26,1.26,1.25,"2,528",6/10/2025
351498,ZYMEWORKS INC.,12.73,2.25%,12.54,12.82,12.45,"39,483",6/10/2025
351499,ZYNEX INC.,2.2,0.46%,2.21,2.25,2.2,"24,144",6/10/2025
351500,ZYVERSA THERAPEUTICS INC.,0.708,10.66%,0.6208,0.7099,0.6152,"626,259",6/10/2025

Sau ƒë√≥, t√≠ch h·ª£p l∆∞·ª£ng d·ª± li·ªáu ƒë√£ c√†o h√¥m nay v√†o file t·ªïng h·ª£p. File n√†y s·∫Ω d√πng cho ph√¢n t√≠ch, d·ª± ƒëo√°n gi√° c·ªï phi·∫øu cho t∆∞∆°ng lai, d·ª±a tr√™n gi√° tr·ªã c·ªï phi·∫øu c·ªßa c√°c ng√†y qua.

In [7]:
integrated_df = pd.concat([integrated_df, stock_df], ignore_index=True)
integrated_df.to_csv('integrated_stock_data.csv', index=False)
integrated_df

,Name,Current price,Change(%),Open,High,Low,Volume,date
0,MGO GLOBAL INC.,0.37,0,0.399,0.4599,0.33,111379653,3/5/2025
1,VISIONARY HOLDINGS INC.,2.51,94.57,2.28,2.85,2.17,24468952,3/5/2025
2,ADITXT INC.,0.0632,26.91,0.0635,0.067,0.0584,24278165,3/5/2025
3,NVIDIA CORP.,116.75,0.66,117.58,118,115.04,19755191,3/5/2025
4,MATTERPORT INC.,5.38,0,5.42,5.45,5.35,13993565,3/5/2025
...,...,...,...,...,...,...,...,...
355108,ZURA BIO LTD.,1.30,+1.56%,1.29,1.33,1.25,"66,410",06/11/2025
355109,ZW DATA ACTION TECHNOLOGIES,1.46,+15.87%,1.61,1.64,1.46,"521,670",06/11/2025
355110,ZYMEWORKS INC.,13.09,+0.15%,13.19,13.22,13.01,"19,482",06/11/2025
355111,ZYNEX INC.,2.14,-2.28%,2.18,2.22,2.14,"5,134",06/11/2025
355112,ZYVERSA THERAPEUTICS INC.,0.6870,-1.86%,0.7240,0.7240,0.6837,"54,572",06/11/2025

# Kh√°m ph√° d·ªØ li·ªáu

#### ƒê·ªçc d·ªØ li·ªáu v√† hi·ªÉn th·ªã data frame

In [8]:
df = pd.read_csv('integrated_stock_data.csv')
df

,Name,Current price,Change(%),Open,High,Low,Volume,date
0,MGO GLOBAL INC.,0.37,0,0.399,0.4599,0.33,111379653,3/5/2025
1,VISIONARY HOLDINGS INC.,2.51,94.57,2.28,2.85,2.17,24468952,3/5/2025
2,ADITXT INC.,0.0632,26.91,0.0635,0.067,0.0584,24278165,3/5/2025
3,NVIDIA CORP.,116.75,0.66,117.58,118,115.04,19755191,3/5/2025
4,MATTERPORT INC.,5.38,0,5.42,5.45,5.35,13993565,3/5/2025
...,...,...,...,...,...,...,...,...
355108,ZURA BIO LTD.,1.30,+1.56%,1.29,1.33,1.25,"66,410",06/11/2025
355109,ZW DATA ACTION TECHNOLOGIES,1.46,+15.87%,1.61,1.64,1.46,"521,670",06/11/2025
355110,ZYMEWORKS INC.,13.09,+0.15%,13.19,13.22,13.01,"19,482",06/11/2025
355111,ZYNEX INC.,2.14,-2.28%,2.18,2.22,2.14,"5,134",06/11/2025
355112,ZYVERSA THERAPEUTICS INC.,0.6870,-1.86%,0.7240,0.7240,0.6837,"54,572",06/11/2025

#### Ki·ªÉm tra c√°c ng√†y ta ƒë√£ ghi nh·∫≠n gi√° c·ªï phi·∫øu

In [9]:
unique_dates = df['date'].unique()
unique_dates

array(['3/5/2025', '3/6/2025', '3/7/2025', '3/8/2025', '3/9/2025',
       '3/10/2025', '3/11/2025', '3/12/2025', '3/13/2025', '3/14/2025',
       '3/15/2025', '3/16/2025', '3/17/2025', '3/18/2025', '3/19/2025',
       '3/20/2025', '3/21/2025', '3/22/2025', '3/23/2025', '3/24/2025',
       '3/25/2025', '3/26/2025', '3/27/2025', '3/28/2025', '3/30/2025',
       '3/31/2025', '3/29/2025', '4/1/2025', '4/2/2025', '4/3/2025',
       '4/4/2025', '4/5/2025', '4/6/2025', '4/7/2025', '4/8/2025',
       '4/9/2025', '4/10/2025', '4/11/2025', '4/12/2025', '4/13/2025',
       '4/14/2025', '4/15/2025', '4/16/2025', '4/17/2025', '4/18/2025',
       '4/19/2025', '4/20/2025', '4/21/2025', '4/22/2025', '4/23/2025',
       '4/24/2025', '4/25/2025', '4/26/2025', '4/27/2025', '4/28/2025',
       '4/29/2025', '4/30/2025', '5/1/2025', '5/2/2025', '5/3/2025',
       '5/4/2025', '5/5/2025', '5/6/2025', '5/7/2025', '5/8/2025',
       '5/9/2025', '5/10/2025', '5/11/2025', '5/12/2025', '5/13/2025',
       '5/14/2025', '5/15/2025', '5/16/2025', '5/17/2025', '5/18/2025',
       '5/19/2025', '5/20/2025', '5/21/2025', '5/22/2025', '5/23/2025',
       '5/24/2025', '5/25/2025', '5/26/2025', '5/27/2025', '5/28/2025',
       '5/29/2025', '5/30/2025', '5/31/2025', '6/1/2025', '6/2/2025',
       '6/3/2025', '6/4/2025', '6/5/2025', '6/6/2025', '6/7/2025',
       '6/8/2025', '6/9/2025', '6/10/2025', '06/11/2025'], dtype=object)

#### X√°c ƒë·ªãnh s·ªë h√†ng v√† s·ªë c·ªôt

In [10]:
print(f"Rows: {df.shape[0]}, Columns: {df.shape[1]}")

Rows: 355113, Columns: 8

#### X√°c ƒë·ªãnh thu·ªôc t√≠nh trong t·ªáp d·ªØ li·ªáu

In [11]:
df.columns.tolist()

['Name', 'Current price', 'Change(%)', 'Open', 'High', 'Low', 'Volume', 'date']

üßæ 1. Name
- **√ù nghƒ©a:** T√™n c·ªßa c√¥ng ty ho·∫∑c m√£ c·ªï phi·∫øu.  
- **V√≠ d·ª•:** `NVIDIA CORP.`, `TESLA INC.`, `ADITXT INC.`  
- **C√¥ng d·ª•ng:** X√°c ƒë·ªãnh ƒë∆°n v·ªã c·ªï phi·∫øu ƒë∆∞·ª£c theo d√µi.


üíµ 2. Current price
- **√ù nghƒ©a:** Gi√° c·ªï phi·∫øu hi·ªán t·∫°i t·∫°i th·ªùi ƒëi·ªÉm ghi nh·∫≠n (ng√†y 3/5/2025).  
- **ƒê∆°n v·ªã:** USD (ƒë√¥ la M·ªπ).  
- **C√¥ng d·ª•ng:** Gi√° ƒë√≥ng c·ª≠a cu·ªëi c√πng trong ng√†y, l√† c∆° s·ªü ƒë·ªÉ t√≠nh l·ªùi/l·ªó.


üìà 3. Change(%)
- **√ù nghƒ©a:** T·ª∑ l·ªá ph·∫ßn trƒÉm thay ƒë·ªïi c·ªßa gi√° c·ªï phi·∫øu so v·ªõi phi√™n tr∆∞·ªõc ƒë√≥.  
- **C√°ch t√≠nh:**  
$$
\text{Change(\%)} = \left( \frac{\text{Current Price} - \text{Previous Close}}{\text{Previous Close}} \right) \times 100
$$


- **C√¥ng d·ª•ng:** ƒê√°nh gi√° m·ª©c tƒÉng/gi·∫£m trong ng√†y.


üîì 4. Open
- **√ù nghƒ©a:** Gi√° m·ªü c·ª≠a ‚Äì gi√° ƒë·∫ßu ti√™n khi c·ªï phi·∫øu b·∫Øt ƒë·∫ßu giao d·ªãch trong ng√†y.  
- **C√¥ng d·ª•ng:** So s√°nh v·ªõi gi√° hi·ªán t·∫°i ƒë·ªÉ bi·∫øt xu h∆∞·ªõng gi√° trong ng√†y.


üî∫ 5. High
- **√ù nghƒ©a:** M·ª©c gi√° cao nh·∫•t m√† c·ªï phi·∫øu ƒë·∫°t ƒë∆∞·ª£c trong ng√†y.  
- **C√¥ng d·ª•ng:** Cho th·∫•y bi√™n ƒë·ªô bi·∫øn ƒë·ªông c·ªßa c·ªï phi·∫øu.


üîª 6. Low
- **√ù nghƒ©a:** M·ª©c gi√° th·∫•p nh·∫•t trong ng√†y.  
- **C√¥ng d·ª•ng:** K·∫øt h·ª£p v·ªõi ‚ÄúHigh‚Äù ƒë·ªÉ ƒë√°nh gi√° ƒë·ªô bi·∫øn ƒë·ªông gi√°.


üìä 7. Volume
- **√ù nghƒ©a:** T·ªïng s·ªë c·ªï phi·∫øu ƒë√£ ƒë∆∞·ª£c giao d·ªãch trong ng√†y.  
- **C√¥ng d·ª•ng:** ƒê√°nh gi√° t√≠nh thanh kho·∫£n.  
  - **Cao:** Nhi·ªÅu ng∆∞·ªùi mua/b√°n ‚Üí c·ªï phi·∫øu "n√≥ng" ho·∫∑c ph·ªï bi·∫øn.  
  - **Th·∫•p:** √çt ng∆∞·ªùi quan t√¢m ho·∫∑c ƒëang gi·ªØ d√†i h·∫°n.


üìÖ 8. Date
- **√ù nghƒ©a:** Ng√†y d·ªØ li·ªáu ƒë∆∞·ª£c ghi nh·∫≠n.  
- **Trong dataset:** T·ª´ ng√†y 5/3/2025 ƒë·∫øn ng√†y 4/5/2025  
- **C√¥ng d·ª•ng:** N·∫øu c√≥ nhi·ªÅu ng√†y, s·∫Ω d√πng ƒë·ªÉ ph√¢n t√≠ch xu h∆∞·ªõng theo th·ªùi gian.

#### X√°c ƒë·ªãnh ki·ªÉu d·ªØ li·ªáu cho t·ª´ng thu·ªôc t√≠nh

In [12]:
df.dtypes

Name             object
Current price    object
Change(%)        object
Open             object
High             object
Low              object
Volume           object
date             object
dtype: object

#### X√≥a b·ªè c·ªôt kh√¥ng c·∫ßn thi·∫øt nh∆∞ `Change(%)`

In [13]:
df = df.drop(columns=['Change(%)'])

#### ƒê·ªïi sang ki·ªÉu d·ªØ li·ªáu ph√π h·ª£p

In [14]:
numeric_cols = ['Current price', 'Open', 'High', 'Low', 'Volume']
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col].astype(str).str.replace('[^0-9.-]', '', regex=True), errors='coerce')

df['date'] = pd.to_datetime(df['date'], format='%m/%d/%Y')

In [15]:
df.dtypes

Name                     object
Current price           float64
Open                    float64
High                    float64
Low                     float64
Volume                  float64
date             datetime64[ns]
dtype: object

## Ti·ªÅn x·ª≠ l√Ω d·ªØ li·ªáu

#### D·ªØ li·ªáu tr√πng l·∫∑p

In [16]:
df.duplicated().sum()

132

Xo√° d·ªØ li·ªáu tr√πng l·∫∑p

In [17]:
df = df.drop_duplicates()
df.shape

(354981, 7)

#### X·ª≠ l√Ω d·ªØ li·ªáu b·ªã thi·∫øu

In [18]:
df = df.dropna()

## Ti·ªÅn x·ª≠ l√Ω d·ªØ li·ªáu cho modeling

B·ªüi v√¨ m·ªói lo·∫°i c·ªï phi·∫øu t·ªìn t·∫°i b·ªÅn v·ªØng ƒë·ªÅu ph·∫£i c√≥ ƒë√∫ng 1 gi√° tr·ªã ·ªü 1 ng√†y. N√™n n·∫øu c·ªï phi·∫øu n√†o kh√¥ng kh·ªõp v·ªõi s·ªë ng√†y th√¨ ph·∫£i lo·∫°i b·ªè.

Tr∆∞·ªõc ti√™n, t√≠nh s·ªë ng√†y m√† thu th·∫≠p c·ªï phi·∫øu cho t·ªõi h√¥m nay.

In [19]:
num_days = df['date'].nunique()
num_days

99

Nh∆∞ v·∫≠y, c·ªï phi·∫øu n√†o m√† s·ªë ng√†y xu·∫•t hi·ªán kh√¥ng ƒë·ªß nh∆∞ tr√™n, th√¨ lo·∫°i b·ªè.

In [20]:
name_counts = df['Name'].value_counts()
valid_names = name_counts[name_counts == num_days].index

# Gi·ªØ l·∫°i c√°c d√≤ng c√≥ 'Name' n·∫±m trong danh s√°ch ƒë·∫ßy ƒë·ªß s·ªë ng√†y
df = df[df['Name'].isin(valid_names)]
df.shape

(280764, 7)

L∆∞u v√†o file d·ªØ li·ªáu ƒë√£ l√†m s·∫°ch

In [21]:
df.to_csv('cleaned_integrated_stock_data.csv', index=False)